@import "../../scss/variables";
@import "../../scss/general";

.header-navlist {
  display: flex;
  height: 78px;
  .header-navlist_item {
    list-style: none;
    text-transform: uppercase;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    padding-top: 28px;

    .header-navlist_item_text {
      padding: 28px 16px 32px;
      text-decoration: none;
    }
  }

  .active {
    font-weight: 600;
    color: $green;
    text-decoration: none;
    border-bottom: 1px solid $green;
  }
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sideMenu {
  display: flex;

  .sideMenu-currencies_dropdown {
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    margin-right: 38px;
    &::after {
      content: "^";
    }

    .sideMenu-currencies_dropdown_wrap {
      width: 169px;
      position: absolute;
      top: 35px;
      left: -35px;
    }

    .sideMenu-currencies_dropdown_option {
      width: 114px;
      height: 45px;
      font-size: 18px;
      font-weight: 500;
      line-height: 29px;

      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}
