@import "../../scss/variables";
@import "../../scss/general";

.header-navlist {
  display: flex;
  height: 78px;
  .header-navlist_item {
    list-style: none;
    text-transform: uppercase;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    padding-top: 28px;

    .header-navlist_item_text {
      padding: 28px 16px 32px;
      text-decoration: none;
    }
  }

  .active {
    font-weight: 600;
    color: $green;
    text-decoration: none;
    border-bottom: 1px solid $green;
  }
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sideMenu {
  display: flex;

  .sideMenu-currencies_dropdown {
    text-align: center;

    .sideMenu-currencies_dropdown_option {
      font-family: Raleway;
      font-size: 18px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}
